{% extends 'base.html.twig' %}

{% block title %}Mes Vidéos{% endblock %}

{% block body %}
    <h2>Mes Vidéos</h2>

    {# /video?name=kaamelott #}
    <a href="{{ path('video', {'name': 'kaamelott'}) }}">Kaamelott</a> -
    <a href="{{ path('video', {'name': 'spider-man'}) }}">Spider Man</a> -
    <a href="{{ path('video', {'name': 'venom-2'}) }}">Venom 2</a>

    {# <h3>Kaamelott - Premier Volet</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VH_5CEkLGyE" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe> #}

    <h3>{{ titre }}</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ code }}" title="{{ titre }}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
{% endblock %}
